<form class="form-horizontal" name="form1" ng-submit="onSubmit(form1)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      <i class="fa fa-download"></i>
      <!-- 获取地址 -->
      {{'getAddress.title'|translate}}
    </h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label class="col-sm-2 control-label" for="name">{{'name'|translate}}:</label>
      <div class="col-sm-8">
        <input type="text" ng-model="item.name" id="name"  readonly
        placeholder="bucket名称" class="input-md form-control"/>
      </div>
    </div>

    <div class="form-group" ng-if="step==1">
      <label class="col-sm-2 control-label" for="acl">
        {{'address'|translate}}
        <!-- 地址: -->

      </label>
      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" id="genAddress" ng-model="item.url" rows="4"  class="input-md form-control"/>
          <span class="input-group-btn">
            <a href="" class="btn btn-default"  clipboard-button target="'#genAddress'">
              <!-- 点击复制 -->
              {{'click.copy'|translate}}
            </a>
          </span>
        </div>
      </div>

    </div>

    <div class="form-group" ng-if="step==2">
      <label class="col-sm-2 control-label" for="acl">
        {{'address'|translate}}:
        <!-- 地址: -->

      </label>
      <div ng-if="!info.url"  class="col-sm-10">
        <!-- 请输入链接有效期: -->
        {{'getAddress.message'|translate}}:
        <input type="number" ng-model="info.sec" id="sec" required
        placeholder="" class="input-md form-control" style="display:inline-block;width:80px"/>
        {{'unit.second'|translate}}
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-success btn-sm">
          <i class="glyphicon glyphicon-ok"></i>
          <!-- 生成 -->
          {{'generate'|translate}}
        </button>
      </div>

      <div ng-if="info.url" class="col-sm-8">
        <div class="input-group">
          <input type="text" id="genAddress2" ng-model="info.url" rows="4"  class="input-md form-control"/>
          <span class="input-group-btn">
            <a href="" class="btn btn-info" clipboard-button target="'#genAddress2'">
              <!-- 点击复制 -->
              {{'click.copy'|translate}}
            </a>
          </span>
        </div>
      </div>

    </div>


    <div class="form-group" ng-if="step==3">
      <code>{{err}}</code>
    </div>

    <div class="text-center">
      <qrcode ng-if="info.url" text="info.url" width="300" height="300">
        <!-- 扫码下载 -->
        {{'qrcode.download'|translate}}
      </qrcode>
    </div>


    <div class="clearfix"></div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      {{'close'|translate}}</button>
  </div>
</form>
