<form name="form1">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-danger">
      <!-- 简化Policy授权 -->
      {{'simplePolicy.title'|translate}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <div ng-bind-html="htm"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      <!-- 关闭 -->
      {{'close'|translate}}
    </button>
  </div>
</form>
