<form name="form1" ng-submit="onSubmit(form1)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-danger">简化Policy授权</h4>
  </div>
  <div class="modal-body">
    <div class="clearfix">
      <label class="col-sm-12 control-label">将下列资源</label>
    </div>
    <div class="clearfix">
      <ol>
        <li ng-repeat="item in items">{{item.name}}</li>
      </ol>
    </div>

    <div class="clearfix form-group">
      <label class="col-sm-12 control-label">的权限:
      </label>
      <div class="col-sm-12">
        <label class="radio-inline">
          <input type="radio" name="ptype" ng-click="policyChange()" ng-model="grant.privType" id="inlineRadio1" value="readOnly">
          只读权限
        </label>
        <label class="radio-inline">
          <input type="radio" name="ptype" ng-click="policyChange()" ng-model="grant.privType" id="inlineRadio2" value="all">
          读写权限
        </label>
      </div>
    </div>

    <div class="clearfix form-group">
      <div class="col-sm-12">
        <a href="" ng-show='show_policy!=1' ng-click="show_policy=1" class="">[查看Policy]</a>
        <a href="" ng-show='show_policy==1' ng-click="show_policy=0" class="">[隐藏Policy]</a>
      </div>
      <div ng-show='show_policy==1' class="col-sm-12">
        <textarea ng-model="grant.policy" class="form-control input-sm" rows='10' readonly></textarea>
      </div>
    </div>

    <div class="clearfix form-group" ng-class="{'has-error':!form1.policyName.$valid}">
      <label class="col-sm-12 control-label">创建为policy，命名为：</label>
      <div class="col-sm-12">
        <input type="text" required maxlength='128' ng-pattern="policyNameReg"
       ng-model="grant.policyName" class="form-control input-sm" name="policyName"/>
      </div>
    </div>




    <div class="clearfix form-group" ng-class="{'has-error': grant.toType=='role' && !form1.roleName.$valid || grant.toType=='user' && !form1.userName.$valid || grant.toType=='group' && !form1.groupName.$valid}">
      <label class="col-sm-12 control-label">并授权给:</label>
      <div class="col-sm-12">
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span ng-if="grant.toType=='user'">
                <i class="fa fa-user"></i>
                子用户</span>
              <span ng-if="grant.toType=='group'">
                <i class="fa fa-users"></i>
                用户组</span>
              <span ng-if="grant.toType=='role'">
                <i class="fa fa-user-secret"></i>
                角色</span>

              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="grant.toType='user'">
                  <i class="fa fa-user"></i>
                  子用户
                </a>
              </li>
              <li>
                <a href="" ng-click="grant.toType='group'">
                  <i class="fa fa-users"></i>
                  用户组
                </a>
              </li>
              <li>
                <a href="" ng-click="grant.toType='role'">
                  <i class="fa fa-user-secret"></i>
                  角色
                </a>
              </li>
            </ul>
          </span>

          <select ng-if="grant.toType=='user'" name="userName" class="input-sm form-control"
          ng-model="grant.userName" ng-required="grant.toType=='user'"
          ng-options="user.UserName as user.UserName for user in users">
            <option value=''>请选择</option>
          </select>
          <select ng-if="grant.toType=='group'" name="groupName" class="input-sm form-control"
          ng-model="grant.groupName" ng-required="grant.toType=='group'"
          ng-options="group.GroupName as group.GroupName for group in groups">
            <option value=''>请选择</option>
          </select>

          <select ng-if="grant.toType=='role'" name="roleName" class="input-sm form-control"
          ng-model="grant.roleName" ng-required="grant.toType=='role'"
          ng-options="role.RoleName as role.RoleName for role in roles">
            <option value=''>请选择</option>
          </select>

        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success btn-sm">
      <i class="glyphicon glyphicon-ok"></i>
      确定授权
    </button>

    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      关闭
    </button>
  </div>
</form>
