<form class="form-horizontal" name="form1" ng-submit="onSubmit(form1)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      <i class="fa fa-database text-warning"></i>
      {{'bucketACL.update'|translate}}
      <!-- 修改Bucket权限 -->
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="name">
        {{'name'|translate}}:
        <!-- 名称: -->
      </label>
      <div class="col-sm-8">
        <input
          type="text"
          ng-model="item.name"
          id="name"
          name="name"
          required="required"
          readonly=""
          placeholder="bucket名称"
          class="input-md form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="region">
        {{'region'|translate}}:
        <!-- 区域: -->
      </label>
      <div class="col-sm-8">
        <input
          type="text"
          ng-model="item.region"
          id="region"
          name="region"
          required="required"
          readonly=""
          placeholder="区域"
          class="input-md form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="acl">
        {{'acl'|translate}}:
        <!-- 权限: -->
      </label>
      <div class="col-sm-8">
        <select
          ng-model="item.acl"
          autofocus
          ng-options="acl.acl as acl.label for acl in bucketACL"
          name="acl"
          required="required"
          class="input-md form-control"
          ng-change="onAclChanged()"
        ></select>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success btn-sm">
      <i class="glyphicon glyphicon-ok"></i>
      {{'ok'|translate}}
      <!-- 确定 -->
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      {{'cancel'|translate}}
      <!-- 取消 -->
    </button>
  </div>
</form>
