<div class="" ng-controller="transferUploadsCtrl">
    <header class="pd4 text-right" style="border-bottom:1px solid #ddd;">

        <button type="button" class="btn btn-default btn-sm" ng-click="startAll()">
            <span class=""><i class="glyphicon glyphicon-play"></i> 启动全部</span>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="stopAll()">
        <span class=""><i class="glyphicon glyphicon-pause"></i> 暂停全部</span>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="clearAllCompleted()">
            <span class=""><i class="glyphicon glyphicon-trash"></i> 清空已完成</span>
        </button>

        <button type="button" class="btn btn-default btn-sm" ng-click="clearAll()">
            <span class=""><i class="glyphicon glyphicon-trash"></i> 清空所有</span>
        </button>
        <div class="clearfix"></div>
    </header>

    <div class="clearfix" style="overflow:auto;height:350px;">


        <ul class="list-group list-condensed">
            <li class="list-group-item" ng-repeat="item in lists.uploadJobList">

                <div class="col-sm-4">
                    <div class="text-overflow"
                         uib-tooltip-template="'upload-path-tooltip-tpl.html'"
                         tooltip-placement="left" tooltip-append-to-body="true">{{item.from.name}}
                    </div>

                    <div class="progress mg0" style="height:4px;">
                        <div class="progress-bar progress-bar-{{item.status|statusCls}}"
                             ng-style="{width: (item.prog.loaded|persent:item.prog.total:item.status) + '%'}">
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 text-overflow text-{{item.status|statusCls}}">
                    <span ng-show="!item.speed">{{item.status|status:1}}
                      <i ng-if="item.message"
                      uib-tooltip="{{item.message}}" tooltip-placement="left" tooltip-append-to-body="true"
                      class="fa fa-info-circle"></i>
                    </span>
                <span ng-show="item.speed">
                    {{item.speed|sizeFormat}}/s
                </span>
                </div>

                <div class="col-sm-4 text-overflow">
                    <span ng-show="item.prog.total">共{{item.prog.total|sizeFormat}}</span>
                    <span ng-show="item.predictLeftTime">, 还剩 {{item.predictLeftTime|leftTimeFormat}}</span>
                </div>


                <div class="col-sm-2 text-right">
                    <a ng-if="item.status=='running' || item.status=='waiting'" href="" ng-click="item.stop()"
                       class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-pause text-warning"></i>
                    </a>


                    <a ng-if="item.status=='stopped' || item.status=='failed' || item.status=='finished'" href=""
                       ng-click="showRemoveItem(item)" class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-remove text-danger "></i>
                    </a>

                    <a ng-if="item.status=='stopped' || item.status=='failed'" href="" ng-click="checkStartJob(item)"
                       class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-play text-success "></i>
                    </a>

                </div>
                <div class="clearfix"></div>
            </li>
        </ul>

        <div class="clearfix">&nbsp;</div>
    </div>
</div>

<script type="text/ng-template" id="upload-path-tooltip-tpl.html">
    <div class="break text-left">
      <div><label class="text-primary">From:</label>{{item.from.path}}</div>
      <div><label class="text-success">To:</label>oss://{{item.to.bucket}}/{{item.to.key}}</div>
    </div>
</script>
