.red{
  color:red;
}

.mg4 {
    margin: 4px;
}
.mg0 {
    margin: 0px;
}
.mgb2{
  margin-bottom:2px;
}
.mgb4{
  margin-bottom:4px;
}
.mgb6{
  margin-bottom:6px;
}
.mgl4{
  margin-left: 4px;
}
.pd0{
    padding:0px;
}
.pd2{
    padding:2px;
}
.pd4{
    padding:4px;
}
.pd10{
    padding:10px;
}
.pdt4{
    padding-top:4px;
}
.break{
    word-break:break-all;
}
button.btn.btn-sm {
    outline: none;
}
.f8{
  font-size:80%;
}
.f9{
  font-size:90%;
}


.input-group-sm .form-control,
.input-group-sm .input-group-addon,
.input-group-sm  .input-group-btn  .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }



/*@media (min-width: 768px){
  body .modal-dialog {
      margin-top: 10px auto;
  }
}
@media (min-width: 992px){
  body .modal-lg {
      width: 98%;
  }
}*/


.modal-header, .modal-footer {
    padding: 4px 8px;
    background: #F6F6F6;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

html, body {

}
.shadow10{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text-overflow{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.text-orange{
  color:orange;
}

.truncate{
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
