<div
  class="pull-right btn-group"
  role="group"
  ng-controller="listViewOptionsCtrl"
>
  <button
    type="button"
    class="btn btn-default btn-sm"
    ng-click="setListView(true)"
    ng-class="{'active':ref.isListView}"
  >
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <button
    type="button"
    class="btn btn-default btn-sm"
    ng-click="setListView(false)"
    ng-class="{'active':!ref.isListView}"
  >
    <i class="glyphicon glyphicon-th"></i>
  </button>
</div>
